*{
    font-family: 'Garamond';
}

section{
    padding-top: 5rem;
}

.container{
    min-height: 750px;
}

ul{
    background-color: #0D4C92;
}

.nav-link{
    color: #CFF5E7;
}

.nav-link:hover{
    color: #59C1BD;
}

#profile > .container > .row > .col > a{
    font-size: 30px;
}

#profile > .container > .row > .col > a{
    color: #0D4C92;
}

#profile > .container > .row > .col > a:hover{
    color: #59C1BD;
}

#baris > .col > .card{
    min-height: 400px;
}

#baris > .col > .card > img{
    max-block-size: 300px;
    transform: scale(1);
    transition: all 0.3s ease-out;
}

#baris > .col > .card > img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

footer{
    background-color: #06283D;
    color: white;
}